runtime: nodejs20

instance_class: F1

automatic_scaling:
  max_instances: 1
  min_instances: 1
  max_idle_instances: 1
  min_idle_instances: 0

env_variables:
  VITE_AUTH0_DOMAIN:
  VITE_AUTH0_CLIENT_ID:
  VITE_AUTH0_CALLBACK_URL:
  VITE_APP_AUTH0_AUDIENCE:
  VITE_APP_API_SERVER_URL:

handlers:
  - url: /(.*\..+)$
    static_files: dist/\1
    upload: dist/(.*\..+)$

  - url: /.*
    static_files: dist/index.html
    upload: dist/index.html
